<nav #navbar class="navbar navbar-expand-lg shadow-sm py-2 sticky-top" [ngClass]="{ 'scrolled': isScrolled }">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
      <!-- <img src="assets/Logo.jpeg" height="40" /> -->
      <img src="assets/image/logo.png" alt="Logo" class="custom-logo" />
      <span class="fw-bold text-uppercase small">
        {{ selectedLang === 'en' ? 'JAy HIND SENA' : 'जय हिंद सेना' }}
      </span>
    </a>
    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nav Links + Search + Icons -->
    <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav align-items-center mb-2 mb-lg-0 me-3">
        <li class="nav-item">
          <a class="nav-link text-danger fw-bold" [class.active]="activeSection === 'home'" [routerLink]="['/']">
            {{ selectedLang === 'en' ? 'Home' : 'मुख्यपृष्ठ' }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            [routerLink]="['/']"
            [ngClass]="{ 'active': activeSection === 'about' || activeSection === 'leadership' || activeSection === 'join-member' || activeSection === 'news-press' }">
            {{ selectedLang === 'en' ? 'About Us' : 'आमच्याबद्दल' }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [class.active]="activeSection === 'about'" href="#about" [routerLink]="['/']">
                {{ selectedLang === 'en' ? 'Our Journey' : 'आपली वाटचाल' }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" [class.active]="activeSection === 'leadership'" href="#leadership"
                [routerLink]="['/']">
                {{ selectedLang === 'en' ? 'Leadership' : 'नेतृत्व' }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" [class.active]="activeSection === 'join-member'" href="#join-member"
                [routerLink]="['/']">
                {{ selectedLang === 'en' ? 'Join as Member' : 'सदस्य म्हणून सहभागी व्हा' }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" [class.active]="activeSection === 'news-press'" href="#news-press"
                [routerLink]="['/']">
                {{ selectedLang === 'en' ? 'News & Press' : 'बातम्या आणि प्रसारमाध्यमे' }}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'gallery'" href="#gallery" [routerLink]="['/']">
            {{ selectedLang === 'en' ? 'Gallery' : 'गॅलरी' }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'contact'" href="#contact" [routerLink]="['/']">
            {{ selectedLang === 'en' ? 'Contact Us' : 'संपर्क करा' }}
          </a>
        </li>
      </ul>
      <!-- Social Icons and Button -->
      <div class="d-flex align-items-center gap-3">
        <a href="https://www.facebook.com/chandan.chavan3" target="_blank"><i
            class="fab fa-facebook text-dark"></i></a>
        <a href="https://x.com/i/flow/login" target="_blank"><i class="fab fa-twitter text-dark"></i></a>
        <a href="https://www.youtube.com/watch?v=LZq0KZFAfmE" target="_blank"><i
            class="fab fa-youtube text-dark"></i></a>
        <a href="https://www.instagram.com/chandan_chavan3/" target="_blank"><i
            class="fab fa-instagram text-dark"></i></a>

        <button class="btn btn-primary btn-sm fw-semibold" [routerLink]="['/donation']">
          {{ selectedLang === 'en' ? 'Make A Donation' : 'देणगी द्या' }}
        </button>
        <button (click)="toggleLanguage()" class="btn btn-outline-secondary btn-sm ms-2">
          {{ selectedLang === 'en' ? 'मराठी' : 'English' }}
        </button>
      </div>

    </div>
  </div>
</nav>



<div *ngIf="leaderData; else notFound">

  <div class="leader-header">
    <div class="leader-photo" style="margin-left: 18%;">
       <img [src]="'data:image/jpeg;base64,' + leaderData.image_url"
          alt="{{ leaderData.fullname }}" />
    </div>
    <div class="leader-info">
       <h1>{{ leaderData.fullname }}</h1>
      <h3>{{ leaderData.title }}</h3>
      <p>{{ leaderData.email }}</p>
    </div>
  </div>

  <div class="bio-section">
    <!-- Header Row -->
    <div class="bio-header">
      <h2 class="bio-title">Biography</h2>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-x-twitter"></i>
      </div>
    </div>

    <!-- Biography Content -->
    <div class="bio-content">
      <p>
        <strong>Arvind Kejriwal</strong> is the <strong>National Convenor of the Aam Aadmi Party (AAP)</strong>
        and one of India’s most prominent political leaders. He served as the
        <strong>Chief Minister of Delhi</strong> for three consecutive terms, with his most recent tenure
        beginning on <strong>16th February 2020</strong>. He has been instrumental in expanding the Aam Aadmi Party's
        footprint beyond Delhi, with electoral successes in <strong>Punjab, Gujarat, and Goa</strong>.
      </p>

      <p>{{ leader.description }}</p>

      <ul>
        <li *ngFor="let item of leader.achievements">✅ {{ item }}</li>
      </ul>

      <button class="contact-button" type="submit" type="button" data-bs-toggle="modal"
        data-bs-target="#contactModal">Send Your Message</button>
    </div>
  </div>
</div>

<ng-template #notFound>
  <p>Leader not found!</p>
</ng-template>


<!-- Contact Us Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="container">
          <div class="row g-3">
            <!-- Full Name -->
            <div class="col-md-6">
              <label class="form-label">Full Name</label>
              <input type="text" class="form-control" formControlName="name" />
              <small class="text-danger" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
                Full name is required
              </small>
            </div>

            <!-- Subject -->
            <div class="col-md-6">
              <label class="form-label">Subject</label>
              <input type="text" class="form-control" formControlName="subject" />
              <small class="text-danger"
                *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid">
                Subject is required
              </small>
            </div>

            <!-- Email -->
            <div class="col-md-6">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" />
              <small class="text-danger" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
                Please enter a valid email
              </small>
            </div>

            <!-- Contact -->
            <div class="col-md-6">
              <label class="form-label">Contact</label>
              <input type="text" class="form-control" formControlName="contact" maxlength="10" inputmode="numeric"
                pattern="[0-9]*" />
              <small class="text-danger"
                *ngIf="contactForm.get('contact')?.touched && contactForm.get('contact')?.invalid">
                Contact is required
              </small>
            </div>

            <!-- Message (Full width) -->
            <div class="col-12">
              <label class="form-label">Message</label>
              <textarea rows="3" class="form-control" formControlName="message"></textarea>
              <small class="text-danger"
                *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
                Message must be at least 10 characters
              </small>
            </div>

            <!-- Submit (Full width) -->
            <div class="col-12 text-end">
              <button type="submit" class="btn btn-success px-4" data-bs-dismiss="modal"
                [disabled]="contactForm.invalid">
                Submit
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <div class="footer-content">

      <!-- Left Section -->
      <div class="footer-left">
        <h2 class="logo">
          {{ selectedLang === 'en' ? 'The POLITICN' : 'द पॉलिटिशियन' }}
        </h2>
        <p>
          {{ selectedLang === 'en'
          ? 'Jay Hind Sena is a movement working for the upliftment of the common man and the national interest. Become
          a part of this journey and contribute to the making of New India.'
          : 'जय हिंद सेना हा एक आंदोलन आहे जे सामान्य माणसाच्या उन्नतीसाठी आणि राष्ट्रीय हितासाठी कार्य करते. या
          प्रवासाचा भाग व्हा आणि नव्या भारताच्या निर्मितीत योगदान द्या.'
          }}
        </p>
        <div class="social-icons">
          <a href="https://www.facebook.com/chandan.chavan3" target="_blank"><i
              class="fab fa-facebook text-white"></i></a>
          <a href="https://x.com/i/flow/login" target="_blank"><i class="fab fa-twitter text-white"></i></a>
          <a href="https://www.youtube.com/watch?v=LZq0KZFAfmE" target="_blank"><i
              class="fab fa-youtube text-white"></i></a>
          <a href="https://www.instagram.com/chandan_chavan3/" target="_blank"><i
              class="fab fa-instagram text-white"></i></a>
        </div>
      </div>

      <!-- Center Section -->
      <div class="footer-center">
        <h3>{{ selectedLang === 'en' ? 'SUPPORTS' : 'समर्थन' }}</h3>
        <div class="supports">
          <ul>
            <li>{{ selectedLang === 'en' ? 'Rural Support' : 'ग्रामीण समर्थन' }}</li>
            <li>{{ selectedLang === 'en' ? 'Gunthewari Paperwork Support' : 'गुंठेवारी कागदपत्र सहाय्य' }}</li>
            <li>{{ selectedLang === 'en' ? 'Political Awareness' : 'राजकीय जाणीव' }}</li>
          </ul>
          <ul>
            <li>{{ selectedLang === 'en' ? 'Skill Development' : 'कौशल्य विकास' }}</li>
            <li>{{ selectedLang === 'en' ? 'Democracy' : 'लोकशाही' }}</li>
            <li>{{ selectedLang === 'en' ? 'Leadership' : 'नेतृत्व' }}</li>
          </ul>
        </div>
      </div>

      <!-- Right Section -->
      <div class="footer-right"  href="https://www.instagram.com/chandan_chavan3/" target="_blank">
        <h3>INSTAGRAM</h3>
        <div class="instagram-images">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
          <img src="assets/image/news-vedio-img/news-vedio-1-img.png" alt="img">
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <p>Copyright © 2025. All Right Reserved</p>
    </div>
  </div>
</footer>



<!-- <div *ngIf="leaderData">
  <div class="leader-header">
    <div class="leader-photo">
      <img [src]="'data:image/jpeg;base64,' + leaderData.image_url"
          alt="{{ leaderData.fullname }}" />
    </div>
    <div class="leader-info">
      <h1>{{ leaderData.fullname }}</h1>
      <h3>{{ leaderData.title }}</h3>
      <p>{{ leaderData.email }}</p>
    </div>
  </div>
</div> -->
